.features {
  margin: 9.6rem 0;
  height: 13.3rem;
  background-color: var(--color-grey-light);
  display: flex;
  align-items: center;
}

.features-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
  justify-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature {
  width: 30rem;
  text-align: center;
  border-right: 1px solid #9c9c9c;
  font-size: 1.4rem;
}

.feature:last-child {
  border-right: 0;
}

.feature p {
  margin-bottom: 0;
  margin-top: 1.6rem;
}
