.footer {
  background-color: var(--color-slate-darkest);
  padding-bottom: 7rem;
}

.footer-container {
  padding: 7rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  justify-items: center;
  gap: 3rem;
  border-bottom: 1px solid var(--color-slate-dark-1);
}

.footer-logo-box {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--color-light);
}

.footer-nav h2 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--color-light);
  margin-bottom: 2.4rem;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-navigation li a {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 13px;
  color: var(--color-slate-dark-1);
  cursor: pointer;
  transition: 300ms;
}

.footer-navigation li a:hover {
  color: var(--color-grey-light);
}

.copyright-text {
  padding: 7rem 0;
  padding-bottom: 0;
  text-align: center;
  font-family: 'Lato';
  color: var(--color-slate-dark-1);
  font-weight: 300;
  font-size: 1.4rem;
}
