@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ff2d5c;
  --color-secondary: #ff8924;
  --color-primary-lightest: #0ca678;
  --color-light: #fff;
  --color-grey-light: #efefef;
  --color-grey-lightest: #f4f4f4;
  --color-grey-lightest-1: #ededed;
  --color-slate-darkest: #161616;
  --color-slate-dark: #484848;
  --color-slate-dark-1: #777777;
  --color-slate-light: #c1c1c1;
  --color-slate-medium: #a0a0a0;
  /* --box-shadow: 0 2rem 3rem -1.5rem rgb(17, 34, 64); */
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-slate-dark);
}

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate-darkest);
  font-weight: 500;
}

p {
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
}

.btn:hover {
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
    padding: 0 1.8rem;
  }
}

@media only screen and (max-width: 700px) {
}
